div {
    margin: 1em;
}

button {
    margin: 1em;
    cursor: pointer;
}

.canvasBackground {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*can be replace with styled component snice all props equal*/
#blue {
    margin: 1em;
    cursor: pointer;
    border: solid 2px blue;
    color: blue;
    border-radius: 10px;
    height: 3em;
    width: 4em;
}#blue:hover {
    background-color: blue;
    color: white;
}
#yellow {
    margin: 1em;
    cursor: pointer;
    border: solid 2px yellow;
    color: yellow;
    border-radius: 10px;
    height: 3em;
    width: 4em;
}#yellow:hover{
    background-color: yellow;
    color: white;
}
#red {
    margin: 1em;
    cursor: pointer;
    border: solid 2px red;
    color: red;
    border-radius: 10px;
    height: 3em;
    width: 4em;
}#red:hover{
    background-color: red;
    color: white;
}
